.auth-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.auth-inner {
  width: 400px;
  padding: 32px;
  border: 2px solid #eaeaea;
  border-radius: 5px;
}

.auth-title {
  margin-bottom: 32px;
  font-size: 32px;
  text-align: center;
}
