@import 'src/components/errorMessage/errorMessage';
@import 'src/components/button/button';

.error-page__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.error-page__message-wrapper {
  margin-bottom: 48px;
}
