@import 'src/components/button/button';
@import 'src/components/input/input';
@import 'src/components/authWrapper/authWrapper';

.login-form__input:not(:last-child) {
  margin-bottom: 32px;
}

.login-form__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 160px;
}

.button__item:not(:last-child) {
  margin-bottom: 16px;
}


