.avatar__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar__img {
  width: 100px;
  height: 100px;
  margin-bottom: 16px;
  border-radius: 50%;
}

.avatar__name {
  font-size: 22px;
  font-weight: bold;
}
